:root {
    --Pink: hsl(322, 100%, 66%);
    --VeryPaleCyan: hsl(193, 100%, 96%);
    --VeryDarkCyan: hsl(192, 100%, 9%);
    --GrayishBlue: hsl(208, 11%, 55%);
    --font-family-heading: 'Poppins', sans-serif;
    /* font-weight: 600*/
    --font-family-body: 'Open Sans', sans-serif;
    /* font-weight: 400 and 700*/
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* utility classes start */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* utility classes end */

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

header,
main,
footer {
    padding: 30px 5%;
}

header {
    background-image: url('./images/bg-hero-mobile.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* border: 1px solid red; */
    background-color: var(--VeryPaleCyan);
    margin-bottom: 50px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    /* border: 1px solid red; */
    width: 40%;
    background-color: var(--VeryPaleCyan);
}

.head-button {
    font-family: var(--font-family-heading);
    color: var(--VeryDarkCyan);
    border-radius: 50px;
    padding: 5px 30px;
    background-color: white;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

.cta-button:hover,
.hero-button:hover,
.head-button:hover {
    opacity: .6;
}

.hero {
    margin-top: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

h1 {
    font-family: var(--font-family-heading);
    color: var(--VeryDarkCyan);
}

.hero-text p {
    font-family: var(--font-family-body);
    color: var(--VeryDarkCyan);
    font-weight: 400;
    /* margin: 30px 0; */
    margin-top: 30px;
    margin-bottom: 50px;
}

.hero-button,
.cta-button {
    font-family: var(--font-family-heading);
    background-color: var(--Pink);
    color: var(--VeryPaleCyan);
    border-radius: 50px;
    padding: 10px 40px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.feature {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    /* border: 1px solid red; */
    padding: 40px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    font-family: var(--font-family-heading);
    color: var(--VeryDarkCyan);
    margin-bottom: 20px;
}

.feature p {
    font-family: var(--font-family-body);
    font-weight: 400;
    color: var(--GrayishBlue);
}

.cta {
    text-align: center;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 40px 0;
    border-radius: 20px;
    background-color: white;
    transform: translateY(50%);
    z-index: 6;
}

footer {
    background-color: var(--VeryDarkCyan);
    padding-top: 150px;
    color: var(--GrayishBlue);
    font-family: var(--font-family-body);
    font-weight: 400;

}

.footer-wrap {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 30px;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo path {
    fill: white;
}


.info {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}

.info img {
    width: 20px;
}

.links a {
    display: block;
    margin-bottom: 20px;
}

.links a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons div {
    border: 1px solid var(--VeryPaleCyan);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social-icons path {
    fill: var(--VeryPaleCyan);
}

.social-icons div:hover {
    border-color: var(--Pink);
}

.social-icons div:hover path {
    fill: var(--Pink);
}

.attribution {
    margin: 30px 0;
}

.attribution a {
    text-decoration: underline;
}

@media (min-width:800px) {
    .logo {
        width: 20%;
    }

    .head-button {
        padding: 10px 80px;
        font-size: 20px;
    }

    .hero {
        flex-direction: row;
        align-items: center;
    }

    .hero-text {
        text-align: left;
        width: 50%;
    }

    .hero-img {
        width: 50%;
    }

    h1 {
        font-size: 35px;
    }

    .feature {
        flex-direction: row;
        align-items: center;
        text-align: left;
    }

    .feature div {
        flex: 1;
    }

    .feature:nth-child(2) {
        flex-direction: row-reverse;
    }

    .footer-wrap {
        flex-direction: row;
        align-items: center;
    }

    .footer-info,
    .links,
    .social-icons {
        flex: 1;
    }

    .links {
        display: flex;
        gap: 60px;
    }

    .social-icons {
        /* border: 1px solid red; */
        min-height: 130px;
    }

    small {
        text-align: right;
        display: block;
    }

    .attribution {
        text-align: center;
    }
}